body {
  font-family: "Cairo", Tahoma, Arial;
  background: #f4f6f8;
  margin: 0;
  color: #222;
  transition: 0.3s;
}

header {
  background: #1e88e5;
  color: white;
  text-align: center;
  padding: 20px;
}

header button {
  margin-top: 10px;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

nav {
  background: #fff;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

nav a {
  margin: 0 8px;
  text-decoration: none;
  color: #1e88e5;
  font-weight: bold;
}

section {
  background: white;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
  color: #1e88e5;
  border-right: 5px solid #1e88e5;
  padding-right: 10px;
}

footer {
  text-align: center;
  padding: 15px;
  background: #eee;
}

/* الوضع الليلي */
.dark {
  background: #121212;
  color: #eee;
}

.dark section,
.dark nav {
  background: #1e1e1e;
}

.dark header {
  background: #000;
}
